<!DOCTYPE html>
<html>
  <head>
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <ol>
      <% skills.forEach(function(item) { %>
        <li>
          <a href="/skills/<%= item.id %>"><%= item.name %></a>
        </li>
      <% }) %>
    </ol>
  </body>
</html>
