<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/skills">Skills</a>
    <h3><%= skills.name %>: <%= skills.proficiency %></h3>
    <br>
    <img src="<%= skills.picture %>" style="max-height: 500px;" alt="some text">
    <br>
    <p><%= skills.description %></p>
</body>
</html>
